<!DOCTYPE html>
<title>A Plot</title>
<h1>Plotting Timesteps: {{timesteps}}</h1>
<form action="/" method="post">
<div class="input text">
    Set timesteps, list of times        
</div>
<input type='text' name='timesteps'/>
<div class="input submit">
        <input type="submit" value="Submit"></div>
</form>
<h2>Depth Profile and Time Profile</h2>
<img src="/plot.png" alt="This should have been a plot">
<img src="/stab_plot.png" alt="This should have been a plot">

<section class='variablelist'>
    <h1>Input Variables</h1>
{% if show_variables%}
<table>
    {% for i in variables %}
<tr>
    <td>{{i}}</td>
    <td>{{variables[i]}}</td>
</tr>
    {% endfor %}
</table>
{% endif %}
</section>